.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 0 15px;
}

.sidebarRow__avatar {
    height: 25px !important;
    width: 25px !important;
}

.sidebarRow__icon {
    color: #606060;
    font-size: larger !important;
}

.sidebarRow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 15px;
}

.sidebarRow__titleYou {
    font-size: 18px;
    font-weight: 500;
}

.sidebarRow__iconYou {
    margin-left: 8px;
    color: #606060;
    font-size: small !important;
}

.sidebarRow:hover {
    background: #F0F0F0;
    cursor: pointer;
    border-radius: 13px;
}

.sidebarRow:hover > .sidebarRow__icon,
.sidebarRow:hover > .sidebarRow__iconYou {
    color: red;
}

.sidebarRow:hover > .sidebarRow__title {
    font-weight: 500;
}

.sidebarRow.selected {
    background: #F0F0F0;
    border-radius: 13px;
}

.sidebarRow.selected > .sidebarRow__icon {
    color: red;
}

.sidebarRow.selected > .sidebarRow__title {
    font-weight: 500;
}